@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Bai Jamjuree', sans-serif;
  color: hsl(201, 11%, 66%);
}


header {
  background-image: url(/images/bg-header-desktop.png);
  background-repeat: no-repeat;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.logo {
  margin-top: 128px;
  margin-bottom: 56px;
}
h1,h2,h3 {
  color: hsl(210, 10%, 33%);
  display: inline;
}
h1 {
  font-size: 45.14px;
  letter-spacing: -0.0075em;
  line-height: 57px;
}
.h-text {
  font-size: 20px;
  width: 694px;
  margin: 15px 0 49px 0;
  letter-spacing: 0.007em;
  line-height: 30px;
}
.button-ios , .button-mac {
  padding: 15px 35px 11px 35px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.027em;
  text-decoration: none;
  color: white;
  border-radius: 26px;
}
.h-buttons {
  display: flex;
  gap: 16px;
}
.button-ios {
  background-color: hsl(171, 66%, 44%);
}
.button-mac {
  background-color: hsl(233, 100%, 69%);
}


main {
  margin: 153px 0 160px 0;
  text-align: center;
}
.snippets {
  margin-bottom: 153px;
}
.keep {
  font-size: 36.5px;
  font-weight: 600;
  letter-spacing: -0.026em;
}
.first-s {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.snippets-text {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0076em;
  max-width: 723px;
  margin: 19px 0 77px 0;
}
.snippets-info {
  display: flex;
  gap: 111px;
}
.snippets-description {
  text-align: start;
}
.s-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -0.025em;
  padding: 50px 0;
}
.search {
  margin-top: 71px;
}
.s-text {
  width: 343px;
  font-size: 16px;
  letter-spacing: 0.007em;
  padding-top: 8px;
  line-height: 184%;
}
.sync {
  margin: 56px 0;
}

.clipboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 74px;
}
.access {
  font-size: 36.5px;
  font-weight: 600;
  letter-spacing: -0.026em;
}
.text-clip {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0076em;
  margin: 19px 0 97px 0;
  max-width: 752px;
}

.workflow {
}
.workflow-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 37px;
}
.w-title {
  font-size: 36.5px;
  font-weight: 600;
  letter-spacing: -0.026em;
}
.w-para {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.0076em;
  margin: 19px 0 76px 0;
}
.icon {
  /* margin-bottom: 40px; */
}
.text-u, .text-d, .text-t {
  margin-top: 16px;
  font-size: 16px;
  line-height: 184.5%;
  letter-spacing: 0.007em;
}
.text-u {
  max-width: 332px;
}
.text-d {
  max-width: 344px;
}
.text-t {
  max-width: 349px;
}